#title
{	
	text-align: center; 
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

#post_content
{
	text-align: justify;
	background-color: lightsteelblue;
	border: solid 2px darkblue;
	padding: 5px;
	border-radius: 15px 0px 15px 0px;
	margin: 10px;
}

.comment
{
	text-align: justify;
	padding: 5px;
	margin: 10px;
	width: 50%;
}

.comment:nth-child(odd)
{
	background-color: lightblue;
	border: solid 1px darkblue;
	border-radius: 0px 50px 10px 0px;
	padding-right: 20px;
	float: left;
}

.comment:nth-child(even)
{
	background-color: lightgrey;
	border: solid 1px black;
	border-radius: 50px 0px 0px 10px;
	padding-left: 20px;
	float: right;
}

.post_creator, .comment_creator
{
	font-weight: bold;
}

.post_details, .comment_details
{
	text-align: right;
}

.edit_delete_post, .edit_delete_comment
{
	float: left;
}

.edit_delete_post a, .edit_delete_comment a, .view_details a
{
	color: blue;
}

#updated_post_text, #updated_comment_text
{
	width: 898px;
	height: 370px;
	max-width: 898px;
	max-height: 370px;
}

#updated_title
{
	width: 898px;
}

#post_dialog_buttons, #comment_dialog_buttons
{
	float: right;
}

#new_comment_content
{
	width: 898px;
	height: 200px;
	max-width: 898px;
	max-height: 200px;
}

#new_comment
{
	clear: both;
}

.validate_message
{
	color: red;
}

.dialog .validate_message
{
	float: left;
}

.view_details
{
	float: left;
}
