/*content header */
#title
{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
}

.ch-right
{
  float: right;
	margin-right:15px;
}


.unit-description
{
	margin:20px 0 20px 0;
}

/*content body */
#content-body
{
	clear:both;
	padding:10px;
	font-family: sans-serif;
	line-height:1.48em;
	letter-spacing: 0.0325em;
	color:#4f4f4f;
}

.unit
{
	float:left;
	width: 100%;
	margin:10px 0 10px 0;
	border:1px solid #ccc;
}

@media only screen and (min-width: 640px)
{
  .unit {
    width:300px;
		margin:10px;
  }
}


.cb_title
{
	padding: 10px 5px 10px 10px;
	background-color: #1D2D44;
	color:#ccc;
	font-size: 17px;
}

.cb-wrapper
{
	padding:10px;
}



#contents,
.contents
{
	padding:0 0 14px 0;
	font-size: 15px;
}


h2
{

}

table
{
	width:80%;
}

table td
{
	padding-top:5px;
	word-wrap: break-word;
  overflow-wrap: break-word;
}

table td h2,
.cb-wrapper .contents h2
{
 font-weight:900;
 padding-top:5px;
}

.cb-date
{
  padding:2px 0 2px 0;
	font-size: 13px;
}




/*clear divs*/
.clear-both
{
	clear:both;
	padding:5px 0 5px 0;
}

.clear-both-np
{
	clear:both;
}
