/*content header */
#title
{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
}

.ch-right
{
  float: right;
	margin-right:15px;
}


/*content body */
#content-body
{
	clear:both;
	padding:10px;
}

.unit
{
	float:left;
	width: 100%;
	margin:10px 0 10px 0;
	border:1px solid #ccc;
}

@media only screen and (min-width: 640px)
{
  .unit {
    width:300px;
		margin:10px 10px 0 10px;
  }
}


.cb_title
{
	padding: 5px;
	background-color: #1D2D44;
	color: white;
	font-size: 16px;
}

.cb-wrapper
{
	padding:5px;
}

.contents
{
	padding:7px 0 7px 0;
	font-size: 14px;
}
h2
{

}

table
{
	width:80%;
}

table td
{
	padding-top:5px;
	word-wrap: break-word;
  overflow-wrap: break-word;
}

table td h2,
.cb-wrapper .contents h2
{
 font-weight:900;
 padding-top:5px;
}

.cb-date
{
	font-size: 10px;
}




/*clear divs*/
.clear-both
{
	clear:both;
	padding:5px 0 5px 0;
}

.clear-both-np
{
	clear:both;
}
