#title
{	
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

textarea[name='content']
{
	max-width: 950px;
	max-height: 500px;
	width: 750px;
	height: 150px;
}

input[name='title']
{
	width: 400px;
}

#notify_to
{
	width: 400px;
}

#submit-form
{
	text-align: center;
}

#member_container
{
	width: 0px;
}

.required
{
	color: red;
	font-size: 16px;
}
