.unit
{
	float:left;
	width: 300px;
	border:1px solid #ccc;
	margin:10px;
}

.project_title
{
	padding: 5px;
	background-color: #1D2D44;
	color: white;
	font-size: 16px;
}

.cb-wrapper
{
	padding:5px;
}

.contents
{
	padding:7px 0 7px 0;
	font-size: 14px;
}

.cb-date
{
	font-size: 10px;
}

.comment
{
	width: 100%;
	padding-top:10px;
}

.edit
{
	width: 100%;
	text-align: right;
}

.deadline_details
{
	float: right;
	width: 50%;
	background-color: inherit;
	text-align: right;
}

.creation_details
{
	float: left;
	width: 50%;
	background-color: inherit;
	text-align: left;
}


.view_details
{
	float: left;
}
