
.edit
{
	width: 100%;
	text-align: right;
}

.deadline_details
{
	float: right;
	width: 50%;
	background-color: inherit;
	text-align: right;
}

.creation_details
{
	float: left;
	width: 50%;
	background-color: inherit;
	text-align: left;
}


.view_details
{
	float: left;
}
