#title
{	
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

#skills
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#skills td, #skills th
{
	text-align: center;
	padding: 10px;
	border: 1px black solid;
}
