#title
{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
}


#tasks-wrapper
{
	clear:both;
	padding-left:10px;
}
#details tr td:nth-child(1)
{
	font-weight: bold;
	padding-right:5px;
}


#status_table tr:nth-child(2)
{
	font-weight: bold;
}

#status_table td, #status_table th
{
	border: 1px solid black;
	padding: 3px;
}

#status_table th
{
	text-align: center;
}

#status_table th
{
	font-weight: bold;
}

#message
{
	color: red;
}
