#title
{	
	text-align: center; 
	font-size: 20px;
	text-transform: uppercase;
}

#filter_container
{
	width:100%;
}

.view_details
{
	float:left;
}
.task_title
{	
	padding: 5px;
	background-color: #62749B;
	color: white;
	text-align: center; 
	font-size: 20px;
	margin:0px 0px 0px 0px;
	border-radius: 15px 15px 0px 0px;
}

.contents
{	
	height: 50%;
	font-size: 14px;
	padding: 10px;
	
}

.description
{
	text-align: justify;
	text-indent: 50px;
}

button, input[type="submit"]
{
	color: black;
}

.btn_details
{
	float: left;
}
.details
{
	clear:both;
	background-color: lightsteelblue;
	width: 100%;
}

.comment
{
	width: 100%;
	text-align: right;
}

.edit
{	
	float:right;
}

#status_filter
{	
	float:left;
}

#project_filter
{	
	float:right;
}


.deadline_details
{	
	float: right;
	width: 50%;
	background-color: inherit;
	text-align: right;
}

.task_status
{
	float: left;
	text-align: left;
	background-color: inherit;
	width: 50%;
}

#tasks_list
{
	clear: both;
}

.status_event
{
	float: right;
}

.unit
{
	background-color: rgb(207,231,245);
	width: 96%;
	height: 100%;
	margin: 4% 2% 4% 2%;
	border-radius: 15px 15px 0px 0px;
}

#status_updation_form
{
	background-color: brown;
	color: white;
}

#reason
{
	width: 350px;
}
