



#filter_container
{
	width:100%;
}

.view_details
{
	float:left;
}

.edit
{
	float:right;
}

#status_filter
{
	float:left;
}

#project_filter
{
	float:right;
}


.deadline_details
{
	float: right;
	width: 50%;
	background-color: inherit;
	text-align: right;
}

.task_status
{
	float: left;
	text-align: left;
	background-color: inherit;
	width: 50%;
}

#tasks_list
{
	clear: both;
}

.status_event
{
	float: right;
}



#status_updation_form
{
	background-color: brown;
	color: white;
}

#reason
{
	width: 350px;
}
