
.unit
{
	float:left;
	width: 300px;
	border:1px solid #ccc;
	margin:10px;
}

.task_title
{
	padding: 5px;
	background-color: #1D2D44;
	color: white;
	font-size: 16px;
}

.cb-wrapper
{
	padding:5px;
}

.contents
{
	padding:7px 0 7px 0;
	font-size: 14px;
}

.cb-date
{
	font-size: 10px;
}


#filter_container
{
	width:100%;
}

.view_details
{
	float:left;
}

.comment
{
	width: 100%;
	padding-top:10px;
}

.edit
{
	float:right;
}

#status_filter
{
	float:left;
}

#project_filter
{
	float:right;
}


.deadline_details
{
	float: right;
	width: 50%;
	background-color: inherit;
	text-align: right;
}

.task_status
{
	float: left;
	text-align: left;
	background-color: inherit;
	width: 50%;
}

#tasks_list
{
	clear: both;
}

.status_event
{
	float: right;
}



#status_updation_form
{
	background-color: brown;
	color: white;
}

#reason
{
	width: 350px;
}
